*.pyc
*.pyo
*.log
*.iml
.idea/
bin/
buildout/
lib/
include/
develop-eggs/
downloads/
*.egg-info/
dist/
!.gitignore
.installed.cfg
etc/
.*
backend/docs/_build/
backend/docs/Makefile
backend/docs/doctrees/
backend/docs/html/
backend/docs/make.bat
configs/nginx/nginx.conf
configs/supervisord/supervisord.conf
configs/uwsgi/uwsgi.ini
configs/redis/redis.conf
